.img {
    display: flex;
    align-items: center;
    justify-content: center;
    ion-img{
      width: 60%;
      height: 60%;
    }
}

.logo{
  text-align: center;
  padding-top: 1em;
  h1{
    font: 2em PressStart2P !important;
  }

}

form {
  padding-top: 1em;
    ion-item {
        border-radius: 1.5em;
    }
    ion-button {
        padding-top: 10px;
    }
}

ion-fab-list {
    ion-fab-button {
        width: 4em !important;
        height: 4em !important;
    }
}

.gridBtn {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    gap: 2%;
}
