<ion-content class="ion-padding" color="light">

    <div class="img">
        <ion-img src="/assets/login.png"></ion-img>
        <ion-text>
            <h1>Credit QR</h1>
        </ion-text>
    </div>

    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
        <ion-text color="primary">
            <h3>Correo</h3>
        </ion-text>
        <ion-item color="primary">
            <ion-input required formControlName="correo" type="email"></ion-input>
        </ion-item>
        <ion-text color="primary">
            <h3>Clave</h3>
        </ion-text>
        <ion-item color="primary">
            <ion-input required formControlName="clave" type="password"></ion-input>
        </ion-item>
        <ion-grid fixed style="padding-top: 20px;">
            <ion-row>
                <ion-col size="5">
                    <ion-button color="primary" type="submit" (click)="onSubmit()" [disabled]="formLogin.invalid || formLogin.disabled">
                        Ingresar
                    </ion-button>
                </ion-col>
                <ion-col size="3">
                    <ion-button color="primary" routerLink="/register" [disabled]="formLogin.disabled">
                        Crear cuenta
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="person-circle-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button block color="danger" (click)="fastAccess('usuario@usuario.com','333333')" [disabled]="formLogin.disabled">
                Usuario
            </ion-fab-button>
            <ion-fab-button block color="secondary" (click)="fastAccess('admin@admin.com','111111')" [disabled]="formLogin.disabled">
                Admin
            </ion-fab-button>
            <ion-fab-button block color="tertiary" (click)="fastAccess('invitado@invitado.com','222222')" [disabled]="formLogin.disabled">
                Invitado
            </ion-fab-button>
            <ion-fab-button block color="success" (click)="fastAccess('tester@tester.com','555555')" [disabled]="formLogin.disabled">
                Tester
            </ion-fab-button>
            <ion-fab-button block color="warning" (click)="fastAccess('anonimo@anonimo.com','444444')" [disabled]="formLogin.disabled">
                Anonimo
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>